CHOST="x86_64-pc-linux-gnu"
__COMMON_FLAGS="-O2 -march={{ arch }} -pipe"
CFLAGS="${__COMMON_FLAGS}"
CXXFLAGS="${__COMMON_FLAGS}"
FCFLAGS="${__COMMON_FLAGS}"
FFLAGS="${__COMMON_FLAGS}"
FEATURES="buildpkg binpkg-multi-instance parallel-install"
MAKEOPTS="-j{{ salt.status.nproc() }} -l{{ salt.status.nproc() }}"
CPU_FLAGS_X86="{{ cpu_flags_x86 }}"
LINGUAS="en en-US"
L10N="en en-US"
VIDEO_CARDS="{{ video_cards }}"
INPUT_DEVICES="libinput"
BINPKG_COMPRESS="zstd"
PORTAGE_BZIP2_COMMAND="lbzip2"
GENTOO_MIRRORS="http://gentoo.osuosl.org/"
PORTAGE_BINHOST="https://mattst88.com/binpkgs/amd64/{{ arch }}"
PKGDIR="/var/cache/binpkgs/amd64/{{ arch }}"
EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} --usepkg-exclude   'sys-firmware/* */*-bin'"
EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} --buildpkg-exclude 'sys-firmware/* */*-bin'"
USE="aac archive avahi avif -berkdb bluetooth branding cairo caps cdda clutter cryptsetup cups dbus device-mapper dvb dvd egl exif expat faad ffmpeg flac fontconfig fuse gbm -gdbm gdu gif git gles2 gnome gnome-keyring gnome-online-accounts gpg -gpm gstreamer gtk gtk3 harfbuzz icu idn infinality jemalloc jit jpeg libidn2 libnotify libsecret luajit lz4 lzma lzo -modemmanager mng mp3 nautilus networkmanager nfs ogg opengl opus pdf png policykit pulseaudio -qt4 resolvconf samba sasl screencast -socialweb spell sqlite svg systemd -tcpd theora threads tiff truetype udev udisks v4l vaapi vorbis vpx vte vulkan wayland -webkit webp X x264 xcb xkb xml xpm xv xvid xxhash zeroconf zsh-completion zstd"
